page-about {
   .things{
       li{
            height:35px;
            float: left;
            width:60px;
            text-align: center;
        }
        .yel{
            background-color: yellow;
            background-position: center;
        }
   }
   ion-item{
        .sofa{
            margin-left:120px;
            margin-right:85px;
        }  
        img{
            width:15px;
        }
   }
   
   
}
