page-home {
    .navList{
        padding-left: 0;
        margin: 0;
        height: 44px;
        line-height: 44px;
        .first{
            border-bottom:2px solid #ffdb2c;
        }
    }
    li{
        height:44px;
        text-align: center;
        float: left;
        width: 25%;
    }
    .sli{
        height: 200px;
    }
    .imgs{
        position: relative;
        margin-left: 18px;
        img{
            width: 28%;
            height:20%;
            margin-right: 14px;
        }
    }
    .subtitle{
        letter-spacing: 5px;
    }
    .goods{
        img{
            width:100%;
        }
        ion-col{
            position: relative;
            p{
                position: absolute;
                width: 100%;
                bottom:0;
                color:#fff;
                height:30px;
                line-height: 30px;
                text-align: center;
                background-color: rgba(0,0,0,0.5);
            }
            .star{
                position: absolute;
                width: 16%;
                height: 19%;
                left: 129px;
                bottom:40px;
            }
        }
    }
}
