<div class="container">
<div class="left">
  <!-- <ul>
    <li><a [routerLink]="['./todo']">todolist</a></li>
    <li><a [routerLink]="['./parent']">parent组件</a></li>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
  </ul> -->
  <img src="http://usercontent.edu2act.cn/media/userheader/16-10-08/S8UhWbSyAgdiEVSVscu2ui.jpg?imageView2/1/w/120/h/120">
  <div class="left-top">
    <h3>5-张腾</h3>
    <p>&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11</p>
    <p>粉丝&nbsp;&nbsp;&nbsp;&nbsp;关注</p>
  </div>
  <div class="left-bottom">
    <ul>
      <li><a>☰任&nbsp;&nbsp;&nbsp;&nbsp;务<span>></span></a></li>
      <li><a>☼同步课<span>></span></a></li>
      <li><a>✎课&nbsp;&nbsp;&nbsp;&nbsp;程<span>></span></a></li>
      <li><a>✉且&nbsp;&nbsp;&nbsp;&nbsp;说<span>></span></a></li>
      <li><a>✔通&nbsp;&nbsp;&nbsp;&nbsp;知<span>></span></a></li>
    </ul>
  </div>
</div>
<div class="right">
  <!-- <router-outlet></router-outlet> 注意位置，路由要求哪块的变动 -->
  
  <li>未提交 0</li>
  <li>已完成</li>
  <li>已完结</li>
  <input type="search" value="输入同步课名称搜索">
  <br><br>
  <div class="task">
    <h4>任务三--雪梨平台开发</h4>
    <p>模仿“雪梨教育”，利用 angular 和 express 实现雪梨平台。将后台 ts 文件（例如：server.ts）和 angular<br> 中 app 文件夹到github，雪梨提交github仓库地址。另外将项目运行后的页面截图，上传到雪梨。</p>
    2016级混合应用开发
    <span>提交</span>
  </div>
</div>
<!-- 右边当前为空，点击左侧时，将右侧填进去 -->

</div>